.root {
    -fx-background-color: white;
    -fx-font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.titleLabel {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;

}

.quizImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.22), 10, 0, 0, 0);

}

.replyButton {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;

}

.choiceButton {
    /* -fx-background-color: black; */
}

.quitButton {
    -fx-background-color: #ff4050;
    -fx-text-fill: white;
}

.quitButton:hover {
    -fx-opacity: 0.8;
}

.playButton {
    -fx-font-size: 24px;
    -fx-background-color: black;
    -fx-text-fill: white;
}