.root {
    -fx-background-color: white;
    -fx-font-family: Arial, Helvetica, sans-serif;
}

.bottomPane {
    -fx-background-color: #EBEBEB;
}

.topLabel {
    -fx-text-fill: #747474;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;

}

.titleLabel {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;

}

.quizImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.22), 10, 0, 0, 0);

}

.statusLabel {
    -fx-text-fill: #7a7a7a;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 24px;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

.replyButton {
    -fx-background-color: black;
    -fx-text-fill: white;

}

.choiceButton {
    /* -fx-background-color: black; */
}

.quitButton {
    -fx-background-color: #ff4050;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.quitButton:hover {
    -fx-opacity: 0.8;
}

.playButton {
    -fx-font-size: 24px;
    -fx-background-color: black;
    -fx-text-fill: white;
}