.root {
    -fx-background-color: white;
    -fx-font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.titleLabel {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;

}

#imageView {
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
}

.replyButton {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;

}

.quitButton {

    -fx-background-color: #ff4050;
    -fx-text-fill: white;
}